body {
  background: #000;
}

.reveal {
  color: #fff;
  font-family: 'Bangers', 'Lato', sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  text-shadow: 1px -1px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em
  }

  h3 {
    padding-bottom: 0.25em;
    font-size: 1.5em;
    text-transform: none;
  }

  h4 {
    font-size: 1em;
  }

  h1, h2, h3, h4, h5, h6, ol, ul, p, table, pre {
    margin-bottom: 2rem;
    color: #fff;
    font-family: 'Bangers', 'Lato', sans-serif;
    line-height: 1.25;
  }

  a:not(.image) {
    color: rgba(255, 255, 255, 0.8);
  }

  pre {
    box-shadow: none;
    font-size: inherit;
    text-transform: none;
  }

  code {
    padding: 0 10px;
    background-color: #333;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 28px;
    border-image: url('../images/marker-border-222.png') 9 30 stretch;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8em;
    text-transform: none;
    vertical-align: middle;
  }

  iframe,
  pre code {
    max-height: 90vh;
    padding: 4px 10px;
    filter: none;
    background-clip: padding-box;
    border: 30px solid transparent;
    border-image: url('../images/comic-border.png') 30 30 stretch;
  }

  iframe {
    background-color: #fff;
  }

  html.faded & .backgrounds {
    opacity: 0.5;
    background-blend-mode: multiply;
  }

  html.grayscaled & .backgrounds {
    filter: grayscale(1);
  }

  .right {
    margin-left: 33%;
  }

  section img,
  section video {
    border: none;
    background: transparent;
    box-shadow: none;

    &[src$=".jpg"] {
      filter: drop-shadow(0 0 1px #CCC) drop-shadow(0 0 10px #FFF);
    }
  }

  section div[id] {
    display: inline-block;
  }

  section div[id] img,
  section div[id] video {
    max-width: none;
    max-height: none;
    margin: 0 auto;
  }

  li {
    margin-bottom: 1rem;
  }

  .comic-border {
    padding: 10px;
    border: 1px solid #000;
    background: #fff;
  }

  table {
    table-layout: fixed;
    width: 100%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
    font-size: 1em;
    border-top: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;

    .smaller & {
      font-size: 0.8em;
    }

    th, td {
      padding: 0.1em 0.2em;
      white-space: nowrap;
      text-align: center;
      border-bottom: 0.05em dotted currentcolor;

      img {
        margin: 0;
        padding: 10px;
        border: 1px solid #000;
        background: #fff;
        box-shadow: none;

        &[src$="svg"] {
          padding: 0;
          background: transparent;
          border: none;
        }
      }
    }
  }

  video {
    width: auto;
    height: 80%;
  }

  .datatable + table {
    font-size: 0.5em;
    line-height: 1.4;
    border-collapse: collapse;

    tr:nth-child(even) {
      background: rgba(255, 255, 255, .5);
    }
    th, td {
      text-align: left;
    }
  }

  blockquote {
    quotes: "“" "”" "‘" "’";
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, .9);
    font-style: italic;
    text-align: left;
    box-shadow: 0 0 4px rgba(255, 255, 255, .5);

    > *:last-child {
      margin-bottom: 0;
    }
    &:before,
    &:after {
      position: absolute;
      font-family: Times, serif;
      font-size: 150%;
      font-weight: bold;
    }
    &:before {
      top: 0;
      right: 102%;
      content: open-quote;
    }
    &:after {
      bottom: -20px;
      left: 102%;
      content: close-quote;
      vertical-align: bottom;
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @for $i from 1 to 10 {
      > *:first-child:nth-last-child(#{$i}) {
        &,
        & ~ * {
          flex: 0 0 calc(100% / #{$i});
          width: calc(100% / #{$i});
        }
      }
    }

    > iframe,
    > img {
      height: auto;
    }
  }

  .slide-background {
    &:not([data-background-hash]) {
      background-size: cover;
      background-blend-mode: lighten;

      &:nth-child(3n+1) {
        background-image: linear-gradient(to bottom, #1f61a8, #1f61a8), url('../images/backgrounds/yellow-comic-zoom-lines.jpg');
      }
      &:nth-child(3n+2) {
        background-image: linear-gradient(to bottom, #088e4c, #088e4c), url('../images/backgrounds/yellow-comic-zoom-lines.jpg');
        background-color: #088e4c;
      }
      &:nth-child(3n+3) {
        background-image: linear-gradient(to bottom, #9a3e48, #9a3e48), url('../images/backgrounds/yellow-comic-zoom-lines.jpg');
      }
    }
  }

  .slide-number {
    text-shadow: none;
  }
}